body{
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
}

#cabecalho{
    font-family: cursive;
    padding-left: 50px;
    margin-bottom: 30px;
}

#conteudo{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    text-decoration: unset;
}

#navbar{
    background-color:whitesmoke;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#sobre{
    justify-content: center;
}

#imagemSobre{
    width: 10%;
}

h3{
    text-align: center;
    color: cornflowerblue;
}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.container-contato {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}